
<h1>Manage author information</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.author %></td>
        <td><%= author.email %></td>
        <td><%= link_to 'Edit', author_verify_path(author) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
