<h1>All posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="posts">
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= date_format(post.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if session[:author_id] %>
  <%= button_to "new post", new_post_path, method: :get %>
<% end %>