<h1><%= @category.name %></h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="posts">
    <% @category.posts.sort{|x, y| y <=> x}.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= date_format(post.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
